:root {
    --primary-text-color: #212121;
    --second-color: #757575;
    --third-color: #2F303A;
    --back-color: #FFFFFF;
    --back1-color: #000000;
    --back2-color: #F5F5F5;
    --blue-color: #2196F3;
    --hover-focus-color: #F5F4FA;
    --fourth-color: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
}

body {
  font-family: 'Roboto', sans-serif, 'Raleway', sans-serif; 
  font-size: 14px; 
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
    width: 1200px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid red;
}

.header {
    background-color: var(--back-color);
    margin: 0 auto;
    border-bottom: 1px solid #ECECEC;
}

.header-item {
   margin: 0px 30px
}

.wrapper {
    display: flex;
align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
    margin: 0px 50px;
}

.logo-header {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: var(--back1-color);
text-decoration: none;
padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 10px;
}

.logo-part {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--blue-color);
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-left: 20px
}

.list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.link-current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--blue-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 30px;
}

.link-current:hover,
.link-current:focus {
    color: var(--accent-color);
    background-color: var(--back-color);
}

.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 30px;
}

.link:hover,
.link:focus {
    color: var(--blue-color);
    text-decoration: none;
}

.contact-item {
    margin: 0px 50px;
}

.contact-link-mail {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--second-color);
text-decoration: none;
padding-top: 32px;
padding-bottom: 32px;
gap: 30px;
}

.contact-link-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 30px;
}

.contact-link-mail:hover,
.contact-link-mail:focus {
    color: var(--blue-color);
    background-color: var(--back-color);
}

.contact-link-tel:hover,
.contact-link-tel:focus {
    color: var(--blue-color);
    background-color: var(--back-color);
}

.hero-section {
    background-color: var(--third-color);
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--back-color);
width: 696px;
text-align: center;
margin-left: 240px;
margin-right: 220px;
margin-bottom: 30px;
}


.container-box {
    background-color: #2F303A;
}

.btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--blue-color);
    border-radius: 4px;
    border: none;
    color: var(--back-color);
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 32px;
}

.btn:hover,
.btn:focus {
    background-color: var(--blue-color);
    color: var(--back-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-subtitle {
    list-style: none;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.section-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-color);
   
}

.business,
.title-question {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    padding-bottom: 50px;
}

.work-item {
    display: block;
    max-width: 100%;
    height: auto;
    gap: 30px;
}

.section-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    background: var(--hover-focus-color);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    display: block;
}

.team-item,
.team-people {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--back-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.team-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color);
    margin-top: 10px;
}

.team-container {
    padding: 20px 24px;
    border: 1px solid #FFFFFF;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
}

.button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background: var(--hover-focus-color);
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    margin-bottom: 10px
}

.button:hover,
.button:focus {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--back-color);
    background: var(--blue-color);
    border: none;
    cursor: pointer;
}

.services {
    color: var(--back2-color);
}

.menu {
    display: flex;
    gap: 8px;
    justify-content: center;
    border-bottom: 1px solid;
    margin-bottom: 34px;
    margin-top: 10px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.list-img {
    flex-basis: calc((100% - 60px) / 3);
}

.products-link {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.products-container {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--second-color);
}

.footer-back {
    font-family: 'Roboto';
    background-color: var(--third-color);
}

.footer {
    padding-top: 200px;
}

.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue-color);
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--back-color);
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
}

.address {
    font-style: normal;
}

.address-target {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--back-color);
    text-decoration: none;
}

.address-item {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--fourth-color);
    text-decoration: none;
}

.address-item:hover,
.address-item:focus {
    background-color: var(--third-color);
    color: var(--hover-focus-color);
}




